@using Models.Enums;

@{
	string colorClass;
	switch (ViewData["MessageType"])
	{
		case MessageType.Error:
			colorClass = "bg-red-200"; break;
		case MessageType.Success:
			colorClass = "bg-success-100"; break;
		case MessageType.Info:
			colorClass = "bg-blue-100"; break;
		default:
			colorClass = "bg-blue-100"; break;
	}
	<div class="info-box @colorClass mb-3" >@ViewData["Message"]</div> 
}

<style>
	.info-box{
		border: 2px solid;
		border-radius: 5px;
		font-size: 1.3rem;
		padding: 1rem;
	 }
	 .bg-blue-100{
		 background-color: #bbdefb;
		 color: #1285CC;
		 border-color: #1285CC;
	}
	 .bg-red-200{
		background-color: #FF8A8A;
		color: #D10000;
		border-color: #D10000;
	 }
	 .bg-success-100{
		background-color: #A0FF78;
		color: #266E08;
		border-color: #266E08;
	 }
</style>