@using Models.DomainModels;

@model List<Review>

<h2>All reviews for @ViewBag.Anime.Name</h2>
<div class="all-reviews-main">
	@foreach(var review in Model)
	{
		<div class="row">
			<div><strong>User</strong></div>
			<div>@review.Content</div>
		</div>
	}
</div>
