html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1f1f1f;
    color: white;
}

.navbar {
    background-color: #0F0F0F;
    color: #670CAD;
}

.success-box {
    font-size: 1rem;
    border: 2px solid #27D927;
    border-radius: 5px;
    color: #27D927;
    padding: 10px;
}

strong{
    color: #832be3;
}

.card-body, .card:last-child, .row-0{
    color: white;
    background-color: #0f0f0f;
}

.bg-lilac-1 {
   background-color: #832be3 
}
.bg-blue-2 {
    background-color: #4343E0;
}
.text-lilac-0 {
    color: #C39EF0;
}
.text-lilac-1 {
    color: #832be3;
}
.text-lilac-2 {
    color: #670CAD;
}
.text-lilac-3, h1, h2, h3, h4, a, .form-label{
    color: #AC00FF;
}
.nav-link {
    color: #C39EF0 !important;
}
.border-lilac-1{
    border: 2px solid #832be3;
}
.btn-lilac-1 {
    padding: 10px;
    color: white;
    background-color: #832be3;
}
.btn-yellow-1 {
    padding: 10px;
    color: white;
    background-color: rgb(255, 193, 7);
}